SERVICE_PORT=3001
DB_URL=postgresql://postgres:postgres@localhost:5432/distributed_art_marketplace?schema=auth
RABBITMQ_URL=amqp://guest:guest@localhost:5672
JWT_SECRET=replace_with_shared_local_secret
SERVICE_NAME=auth-service
JWT_EXPIRES_IN=1h
BCRYPT_ROUNDS=10
